$accentColor = #4527a0
$textColor = #212121
$borderColor = #bdbdbd
$codeBgColor = #282c34

body {
    font-size: 17.5px;
}

.front {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("/front.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat
    padding-top: 10%;
    min-height: 85vh;
}

.front.deploy {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("/netlify-deploy.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat
    padding-top: 10%;
    min-height: 85vh;
}

.front.deploy .features
    margin-bottom: 1px

.front .features
    margin-bottom: 55px

.sidebar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("/sidebar.jpg");
    background-size: cover;
    font-size: 16px !important;
}

.navbar .links {
    font-size: 16px !important;
}

h1, h2, h3 {
    border-bottom: none !important;
}

.custom-block .custom-block-title {
    font-weight: 600;
    text-align: center;
    background: #4527a0;
    padding: 10px 0;
    color: #fff;
    width: 100% !important;
}

.custom-block.tip {
    border-color: transparent !important;
    border-bottom: 3px solid #7953d2 !important;
    padding: 0 !important;
}

.custom-block.tip p {
 width: 75%;
 margin: 0 auto;
 padding: 10px 0;
}

.custom-block.danger, .custom-block.tip, .custom-block.warning {
    padding: 0 !important;
    border-left-width: 0 !important;
    border-left-style: solid;
    margin: 2.5rem 0 !important;
    text-align: center;
    padding-bottom: 1rem;
}



a.sidebar-link:hover, a.sidebar-link.active {
    color: #7953d2 !important;
}



.content h1:after,.content h2:after,.content h3:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 0; /* This will center the border. */
    width: 5%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #4527a0; /* This creates the border. Replace black with whatever color you want. */
}


.home .footer
    border-top: none
    color: #fff
    padding: 1.3rem




.home .hero, .home .description, .home .feature h2, .home .feature p{
    color: #fff !important;
}

.sidebar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)), url("/sidebar.jpg");
  color: #fff
}

.sidebar a {
    color: #fff;
}

.sidebar-links {
    background-color: #19212b;
    border-top: 1px solid #404854;
    border-bottom: 1px solid #404854;
    margin-top: 60px !important;
    font-size: 16px !important;
}

.sidebar .nav-links {
    background-color: #19212b;
    border-top: none;
    border-bottom: 1px solid #404854;
}

.content:not(.custom) {
    max-width: 828px !important;
    margin: 0 auto;
    padding: 2rem !important;
}

.theme-container .sidebar {
  background-color: #262f3d;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #009688;
}

.navbar {
    background-color: #7953d2 !important;
}

.site-name {
    color: #fff !important;
}

.nav-links, .nav-links a:hover, .nav-links a.router-link-active {
    color: #fff;
}

.search-box {
    display: inline-block;
    position: absolute;
    right: -15rem;
}

.navbar .links {
    font-size: 0.9rem;
    position: absolute;
    right: 16.5rem;
    top: 0.7rem;
}

.deploy .home .hero h1, .deploy .home .hero .description {
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
}

.deploy .home .hero h1:after {
  content: "Netlify Deploy Button";
  text-indent: 0;
  display: block;
  line-height: initial;
}

.deploy .home .hero p.description:after {
  content: "Mit dem One-Click Installer kann VuePress in nur einer Minute installiert werden.";
  text-indent: 0;
  display: block;
  line-height: initial;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
   border-radius: 100%;
    transition: 25ms ease-out;
    padding: 13px 0 0 6px;
    width: 39px;
    height: 30px;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}



.share {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #55acee;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.share-head {
    border-top: 1px solid #55acee;
    text-align: center;
    margin-top: 30px;
}

@media only screen and (min-width:1000px) {
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px
}
}

.flex-wrapper div
    border: 1px solid #ccc;
    padding: 15px;
    margin: 0 15px;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.19)

@media only screen and (max-width:999px) {
    .flex-wrapper div {
        margin-top: 30px;
    }
}